/* define variables */
.app {
  --color-hover-green: "#21CA1B";
  --color-green: "#236C13"
  --color-orange:"#F8912D";
  --site-bg:"#EBEBEB"
}
.category-card {
  width: 200px;
  margin-right: 16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
